.intro
  %h1 Hire Easy Days LLC for Your Move!

%p Please call Jeff at 603-233-4179.  Calls are accepted 24 hours a day, 7 days a week.
%p You can also email Jeff at Jiffer2187@aol.com
%p
  We accept cash, check, and credit cards through
  %br/
  = link_to('http://www.movinghelp.com/easydays')
%p.red Please remember: You will also need to rent a truck and moving pads.
.clearfix
  .left
    = image_tag('pickup_truck_parade.jpg', :alt => 'A Pickup Truck Parade')
  .right{ :style => 'width: 350px;' }
    %p{ :style => 'margin-top: 0;' } Please refrain from attempting "pick-up truck parades".  Hard to see, but there are other full trucks ahead.  We had to say we'd try it.  This kind of moving is dirty, terrible, and time consuming.  Nothing ever goes well for the furniture involved.  We know.  We've been there.
%p
  Don't forget to read our
  = link_to('reviews on movinghelp.com', 'https://www.movinghelp.com/reviews.aspx?id=19744', :target => '_blank')
