.intro
  %h1 Hire Easy Days LLC for Your Move!

.content-box
  %p
    Please call Jeff at
    %strong 603-233-4179
    \.  Calls are accepted 24 hours a day, 7 days a week.
  %p
    You can also
    = mail_to('easydaysdotbiz@gmail.com', 'email Jeff')
  %p
    We accept cash, check, and credit cards through:
    %br/
    = link_to('http://www.movinghelp.com/easydays')
  %p.red Please remember: You will also need to rent a truck and moving pads.

  %p
    For a copy of our contract, see <a href="general_contract_side_1.pdf">page 1</a> and <a href="general_contract_side_2.pdf">page 2</a>
