.intro
  %h1 Welcome to Easy Days LLC!
  %div We are a licensed and insured moving labor service.
  .red You will be responsible for renting a truck and driving it.

.content-box
  %p Expensive professional household moves are becoming a thing of the past.  You pay thousands to have your stuff loaded onto a moving truck by professionals and your stuff shows up across the country a week later in some shape. There are so many horror stories about moving companies... who can you really trust?

  %p
    Easy Days LLC is breaking the system!
    = link_to('See what our customers have to say', 'http://www.movinghelp.com/reviews.aspx?id=19744', :target => '_blank')
    about the level of service they receive as we cut costs and provide real discounts.

  %p We are prosessional movers, but we do not have a truck.  As a result we do not have all the costs to cover like one of the traditional moving companies.  This enables us to charge a fraction of the price of our competitors.  You only pay for the part you need: the heavy lifting and the professional guarantee.

  %p We have a great insurance package - our only real cost.  You get the professional work, the peace of mind, and the discounts!  Call <strong>603-233-4179</strong> for a free moving consultation and learn about the system that's changing the face of moving forever!

