.intro
  %h1 Welcome to Easy Days LLC!
  %div We are a licensed and insured moving labor service.
  .red You will be responsible for renting a truck and driving it.
  <div id="wistia_te0vtn3zkx" class="wistia_embed" style="width:655px;height:368px;" data-video-width="655" data-video-height="368"><object id="wistia_te0vtn3zkx_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:368px;position:relative;width:655px;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v2.0.swf?2012-06-01"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="bgcolor" value="#000000"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="controlsVisibleOnLoad=true&mediaDuration=42.01&showVolume=true&stillUrl=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2F6b558c2efaa2f56dd09702c9df33e21f08c59b60.jpg%3Fimage_crop_resized%3D655x368&unbufferedSeek=true&videoUrl=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2Fe858b9ff9e079c1db92ea9a68c1e6c497e1d40c5.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v2.0.swf?2012-06-01" allowfullscreen="true" allowscriptaccess="always" bgcolor=#000000 flashvars="controlsVisibleOnLoad=true&mediaDuration=42.01&showVolume=true&stillUrl=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2F6b558c2efaa2f56dd09702c9df33e21f08c59b60.jpg%3Fimage_crop_resized%3D655x368&unbufferedSeek=true&videoUrl=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2Fe858b9ff9e079c1db92ea9a68c1e6c497e1d40c5.bin" name="wistia_te0vtn3zkx_html" style="display:block;height:100%;position:relative;width:100%;" type="application/x-shockwave-flash" wmode="opaque"></embed></object></div>
  <script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1.js"></script>
  <script>
  wistiaEmbed = Wistia.embed("te0vtn3zkx", {
    version: "v1",
    videoWidth: 655,
    videoHeight: 368,
    volumeControl: true,
    controlsVisibleOnLoad: true
  });
  </script>
  <script charset="ISO-8859-1" src="http://fast.wistia.com/embed/medias/te0vtn3zkx/metadata.js"></script>

.content-box
  %p Expensive professional household moves are becoming a thing of the past.  You pay thousands to have your stuff loaded onto a moving truck by professionals and your stuff shows up across the country a week later in some shape. There are so many horror stories about moving companies... who can you really trust?

  %p
    Easy Days LLC is breaking the system!
    Our customers have great things to say about the level of service they receive as we cut costs and provide real discounts.

  %p We are prosessional movers, but we do not have a truck.  As a result we do not have all the costs to cover like one of the traditional moving companies.  This enables us to charge a fraction of the price of our competitors.  You only pay for the part you need: the heavy lifting and the professional guarantee.

  %p We have a great insurance package - our only real cost.  You get the professional work, the peace of mind, and the discounts!  Call <strong>603-233-4179</strong> for a free moving consultation and learn about the system that's changing the face of moving forever!

