.intro
  %h1 Moving Tips
  %div Moving can be stressful, but it doesn't have to be!

%div{ :style => 'margin-bottom: 1em;' } Here are some helpful hints that will ensure your move is an Easy Day:

.content-box
  .subheading Time Savers
  %ul
    %li Get high quality boxes of uniform sizes.  We recommend getting boxes from the Home Depot &reg; because of their relative cost and their sturdiness.
    %li Have furniture prepared by clearing the top and emptying the drawers of every piece.  Take down lamps and decorations before the movers arrive.
    %li Have items disassembled before the movers arrive.
    %li Make sure that you rent a big enough truck.
    %li Plan out the parking situation ahead of time.  Get a spot as close as possible to the entrance of the building.

.content-box
  .clearfix
    .left
      = image_tag('pickup_truck_parade.jpg', :alt => 'A Pickup Truck Parade')
    .right{ :style => 'width: 335px;' }
      %p{ :style => 'margin-top: 0;' } Please refrain from attempting "pick-up truck parades".  Hard to see, but there are other full trucks ahead.  We had to say we'd try it.  This kind of moving is dirty, terrible, and time consuming.  Nothing ever goes well for the furniture involved.  We know.  We've been there.

.content-box
  .subheading Protect Your Belongings
  %ul
    %li Pack boxes only to the top, and make sure they're sealed well with moving tape (2 pieces on the bottom).
    %li Try to use only boxes that were meant for moving.  Packing your stuff in baskets, shoe boxes, laundry bins, trash cans, etc. can cause it to get damaged.
    %li Make sure you have plenty of furniture pads - about twice as many as you have pieces of furniture.  You can get them at you local truck rental location.

