.intro
  %h1 Operational Radius

.clearfix
  .left
    %p
      %strong We are located at:
      %br/
      17 7th St.
      %br/
      Nashua, NH 03060
      %br/
      Phone: (603) 233-4179
      %br/
      Email: Jiffer2187@aol.com
  .right{ :style => 'width: 450px;' }
    %p We service New Hampshire and eastern Massachusetts. Our radius stretches north as far as Concord, NH, west as far as Worcester, MA, south just past Boston, MA and it's surrounding communities.  We're in Keene, NH, Manchester, NH, Lowell, MA, Lawrence, MA, Peabody, MA and anywhere else in that general area.

.clearfix
  .left
    = image_tag('pickup_truck_parade.jpg', :alt => 'A Pickup Truck Parade')
  .right{ :style => 'width: 350px;' }
    %p{ :style => 'margin-top: 0;' } Please refrain from attempting "pick-up truck parades".  Hard to see, but there are other full trucks ahead.  We had to say we'd try it.  This kind of moving is dirty, terrible, and time consuming.  Nothing ever goes well for the furniture involved.  We know.  We've been there.
